@media only screen and (min-width:860px) and (max-width:1150px) {
  
}

@media only screen and (min-width:750px) and (max-width:859px) {

}

@media only screen and (min-width:650px) and (max-width:749px) {
  
}

@media only screen and (min-width:500px) and (max-width:649px) {
  
}

@media only screen and (min-width:320px) and (max-width:499px) {
  
}