/* LOADER */
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/calculator_bg.jpg);
	z-index: 999;
  }
  
  .loading-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 100px;
  }
  .loading-text span {
	display: inline-block;
	margin: 0 5px;
	color: #000;
	font-family: 'Quattrocento Sans', sans-serif;
  }
  .loading-text span:nth-child(1) {
	-webkit-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0s infinite linear alternate;
			animation: blur-text 1.5s 0s infinite linear alternate;
  }
  .loading-text span:nth-child(2) {
	-webkit-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
			animation: blur-text 1.5s 0.2s infinite linear alternate;
  }
  .loading-text span:nth-child(3) {
	-webkit-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
			animation: blur-text 1.5s 0.4s infinite linear alternate;
  }
  .loading-text span:nth-child(4) {
	-webkit-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
			animation: blur-text 1.5s 0.6s infinite linear alternate;
  }
  .loading-text span:nth-child(5) {
	-webkit-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
			animation: blur-text 1.5s 0.8s infinite linear alternate;
  }
  .loading-text span:nth-child(6) {
	-webkit-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation: blur-text 1.5s 1s infinite linear alternate;
			animation: blur-text 1.5s 1s infinite linear alternate;
  }
  .loading-text span:nth-child(7) {
	-webkit-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
			animation: blur-text 1.5s 1.2s infinite linear alternate;
  }
  
  @-webkit-keyframes blur-text {
	0% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	}
	100% {
	  -webkit-filter: blur(4px);
			  filter: blur(4px);
	}
  }
  
  @keyframes blur-text {
	0% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	}
	100% {
	  -webkit-filter: blur(4px);
			  filter: blur(4px);
	}
  }
/* LOADER */

/* SEARCH */
	.search {
		width: 500px;
		height: 52px;
		position: fixed;
		top: 4px;
		right: 86px;
		z-index: 3;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background: url(../img/calculator_bg.jpg);

		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); 
	}
	.search input:focus,
	.search button:focus {
		outline: none;
	}
	.search input,
	.search button {
		height: 90%;
		line-height: 1;
		max-height: 45px;
		border: .5px solid #c6c6c6;
	}
	.search button {
		width: 62px;
		border-left: .25 solid #c6c6c6;
		background-color: rgba(255, 255, 255, .5);
		margin-right: 2px;
	}
	.search button:hover {
		background-color: rgba(19, 16, 16, 0.5);
		color: #fff;
	}
	.search button img {
		width: 15px;
	}
	.search input {
		width: 427px;
		text-indent: 5px;
		margin-left: 2px;
	}
	.search .attention {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(0,0,0,0.22);
		color: #fff;
		font-family: "PTSerifRegular";
		line-height: 52px;
		text-align: center;
		align-self: center;
	}
/* SEARCH */
/* CHAT */
.chat_win {
	position: fixed;
	top: 64px;
	right: 44px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	justify-content: space-evenly;
	align-items:center;
	background: url(../img/calculator_bg.jpg);
	z-index: 3;
	width: 300px;
	height: 300px;
	line-height: 1;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.chat_win h3 {
	height: 30px;
	line-height: 30px;
	font-family: "PTSerifRegular";
	color: rgba(68, 68, 68, 0.938);
}
.chat_win .field:focus,
.chat_win .send:focus {
	outline: none;
}
.chat_win .window {
	width: 98%;
	height: 70%;
	min-width: 280px;
	max-height: 250px;
	border: 1px solid #c6c6c6;
	background-color: #fff;
	margin-top: 1.5px;
}
.chat_win .field {
	height: 45px;
	width: 72%;
	border: 1px solid #c6c6c6;
	margin-bottom: 1.5px;
	text-indent: 5px;
}
.chat_win .send {
	width: 25%;
	height: 45px;
	border: 1px solid #c6c6c6;
	line-height: 1;
	margin-bottom: 1.5px;
	background-color: rgba(255, 255, 255, .5);

}
.chat_win .send:hover {
	background-color: rgba(19, 16, 16, 0.5);
	color: #fff;
}
.chat_win .warning {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.22);
	color: #fff;
	font-family: "PTSerifRegular";
	line-height: 300px;
	text-align: center;
	align-self: center;

}
/* CHAT */
/* SHOWUPS */
.chat_win .active {
	display: inline;
}
.pop {
	display: flex;
}