@import url("fonts.css");


.outside, .inside, .contain {
	border: 1px solid #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.outside {
	transform: rotate(45deg);
	width: 100%;
	height: 100%;
}
.inside {
	align-self: center;
	width: 95%;
	height: 95%;
}
.contain {
	width: 100%;
	height: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	color: #FFF;
	transform: rotate(675deg);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
button {
	cursor: pointer;
}
select {
	cursor: pointer;
}
h1 {
	position: absolute;
	z-index: 1;
	top: 10.52%;
	line-height: 1;
	font-size: 16px;
	font-family: "PTSerifBold";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: center;
	text-shadow: 2.5px 4.33px 5px rgba(0, 0, 0, 0.1);
	width: 100%;
}
body {
	min-width: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.clearfix:after {
  position: relative;
  display: block;
  content: "";
  clear: both; 
}
/*------------------header-----------------*/
header {
	width: 100%;
	max-width: 1360px;
	background: #FFF;
	position: relative;
	letter-spacing: 1.2px;

}
header .top_line {
	position: absolute;
	top: 0;
	z-index: 2;
	width: 100%;
}
.wrap {
	max-width: 1275px;
	margin-left: 43px;
	margin-right: 42px;
}
header .fiction {
	min-height: 42px;
}
.logo {
	content: "";
	min-height: 90px;
	min-width: 255px;
	background: url(../img/logo.jpg);
	position: absolute;
	z-index: 2;
}
.menu {
	margin-left: 255px;
	display: flex;
	justify-content: center;
	max-height: 62px;
	position: relative;
	z-index: 5;
}
.nav {
	max-width: 635px;
	width: 100%;
	position: relative;
	z-index: 5;
}
.menu ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: relative;
	z-index: 5;
}
.menu ul li {
	height: 100%;
	line-height: 62px;
	position: relative;
	z-index: 5;
}
.menu ul li a {
  font-size: 11px;
  font-family: "PTDinTextCondProRegular";
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  line-height: 0.273;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 5;
}
.menu ul li a:hover {
	text-decoration: underline;
}
.wayUp {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 43px;
	border: 0;
	text-decoration: none;
	display: none;
}
.wayUp .arrow_up {
	padding: 60px 1.5px 2px 1.5px;
}
.wayUp .way {
	text-align: center;
	color: #808080;
}
.searchb, .hiden_menu, .chat {
	content: "";
	height: 62px;
	width: 42px;
	border: 1px solid #c6c6c6;
	cursor: pointer;
}
.hiden_menu {
	background: url(../img/menu.png) no-repeat center center;
	float: right;
}
.searchb {
	background: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	position: relative;
	z-index: 1;
}
.chat {
	background: url(../img/chat.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 0;
	top: 62px;
}
/*-------------------Head Slider-------------- */
.slider {
	min-width: 100%;
	min-height: 460px;
	position: relative;
	z-index: 0;
}
.slider .slide .box {
	height: 100%;
	min-height: 460px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.slider .slider_text h2 {
  font-size: 14px;
  font-family: "PTSerifRegular";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.slider .slider_text p {
  font-size: 14px;
  font-family: "PTDinTextCondProRegular";
  color: rgb(255, 255, 255);
  letter-spacing: 0.8px;
}

.slider .slider_text img {
	max-width: 100px;
}
.slider .slider_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding-top: 67px;
	max-width: 430px;
	position: relative;
	left: 18.85%;
	line-height: 2.7;
}
.slider .slider_text a {
  font-size: 12px;
  font-family: "PTSerifBold";
  color: rgb(55, 61, 61);
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.3;
}
.slide {
	position: relative;
}
.slide .model {
	position: absolute;
	right: 17.5%;
	bottom: -69px;
	max-width: 250px;
}
*:active{
	outline: none;
}
.designer .inside {
	position: relative;
}
.designer .contain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
	position: relative;
	bottom: 5.5px;
	right: 4.5px;
}
.look {
	padding-top: 31.5px;
	max-width: 640px;
	width: 100%;
	margin-left: 70px;
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
}
.designer .size {
	width: 162.17px;
	height: 162.17px;
	background: transparent;
	position: relative;
	left : 5.88%;
}
.item1 .size,
.item2 .size,
.item3 .size,
.item4 .size {
	width: 70px;
	height: 70px;
}
.items {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.items .outside {
	border-color: #FFF;
	background-color: #FFF;
}
.items .inside {
	border-color: #a7b3b3;
	background-color: #FFF;
}
.items .contain {
  color: #a7b3b3;
  font-size: 14px;
  font-family: "PTDinTextCondProRegular";
  color: rgb(167, 179, 179);
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}
.items .contain .up {
	width: 100%;
	border-bottom: 1px solid #a7b3b3;
}
/* --------------Slick slider --------------------*/
.slider .slide {
	min-height: 460px;
	z-index: 3;
}
.slider .slick-prev::before, .slider .slick-next::before{
	font-family:"Arial";
}
.slider .slick-prev, .slider .slick-next {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	z-index: 4;
}
.slider .slick-prev{
	left: 14px;	
}
.slider .slick-next{
	right: 25px;
}
.slider .slick-dots {
	bottom: 12px;
}
.slider .slick-dots li{
	width: 10px;
	height: 10px;
	margin: 0 2px;
	padding: 0;
	transform: rotate(45deg);
}
.slider .slick-dots li button {
	padding: 0;
	width: 100%;
	height: 100%;
}
.slider .slick-dots li button:before {
	content: "";
	background-color: #000;
	width: 6px;
	height: 6px;
	top: 2px;
	left: 2px;
}
.slider .slick-dots li.slick-active button{
	opacity: 10;
	border: 1px solid black;
	background-color: transparent;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{
	opacity: .75;
}
.slick-dotted.slick-slider {
   margin: 0%;
}
.slider .slick-list{
	padding-top: 20px;
}
.slider .slick-track {
	background: #a7b3b3;
}
.slick-slide  img {
	display: inline;
}
.stylist .slick-next::before {
	color: #676767;
	font-family: sans-serif;
	z-index: 2;
}
.stylist .slick-prev::before {
	font-family: sans-serif;
	color: #aeada9;	
	z-index: 2;
}
.stylist .slick-next{
	right: 10px;
	content: "";
	z-index: 0;	
}
.stylist .slick-prev {
	left: 10px;
	content: "";
	z-index: 2;
}
.calculator .slick-next::before,
.calculator .slick-prev::before {
	font-family: sans-serif;
	z-index: 2;
	color: #676767;
	font-size: 15px;	
}
.calculator .slick-next,
.calculator .slick-prev {
	content: "";
}
.calculator .slick-next {
	right: 5px;

}
.calculator .slick-prev {
	left: 5px;
	z-index: 2;

}

/*-------section------------*/
section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1360px;
	justify-content: space-around;
	padding: 0 42px 0 43px;
	width: 100%;
}
/*---------- New Trip ----------------*/
.new_trip {
	background-color: #bababa;
	max-width: 425px;
	width: 33.3334%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.new_trip .size {
	width: 262px;
	height: 262px;
}
.new_trip .outside {
	overflow: hidden;
	border: 2px solid #FFF;
}
.new_trip .contain {
	position: relative;
}
.new_trip .contain a {
	position: relative;
	top: 15px;
	left: 3.5px;
	z-index: 1;
	width: 100%;
	text-decoration: none;
}
.new_trip .contain img {
	position: absolute;
	top: 60%;
	left: 49%;
	transform: translate(-50%, -50%);
	z-index: 0;
}
.new_trip .contain h2 {
	font-size: 13px;
	font-family: "PTSerifRegular";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.358;
	text-align: center;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
	margin: 0 auto;	 
	margin-bottom: 28px; 
}
.new_trip .contain p {
	font-size: 14px;
	font-family: "PTDinTextCondProRegular";
	color: rgb(255, 255, 255);
	line-height: 1.286;
	text-align: center;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
	margin-bottom: 42px;	 
}
.new_trip .contain .link {
	font-size: 14px;
	font-family: "PTSerifRegular";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 1.571;
	text-align: center;
	text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
	margin-bottom: 0;
}
/*----------- Stilist section------------------ */
.stylist {
	background-color: #f6f3ec;
	max-width: 850px;
	min-width: 700px;
	width: 66.6667%;
	max-height: 425px;
}
.slide .box{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.stylist .slide {
	z-index: 1;
}
.stylist .slide .desc {
	min-width: 275px;
	position: relative;
	margin-left: 3.5%;
}
.stylist .slide .desc h2 {
	font-size: 14px;
	font-family: "PTSerifRegular";
	color: rgb(77, 77, 77);
	font-weight: bold;
	text-transform: uppercase;
	max-width: 200px;
	text-align: center; 
	margin-top: 45px;
	margin-bottom: 62px;
	line-height: 14px; 
}
.stylist .slide .desc h3 {
	font-size: 24px;
	font-family: "PTSerifRegular";
	color: rgb(77, 77, 77);
	text-transform: uppercase;
	line-height: 0.917;
	letter-spacing: 4px;	
	text-align: center;
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform:rotate(90deg);
	position: absolute;
	bottom: 155px;
	left: -113px;	  
}
.stylist .slide .desc .transp {
	font-size: 14px;
	font-family: "PFDinTextCondProRegular";
	color: rgba(77, 77, 77, 0.4);
	max-width: 225px;
	margin-bottom: 20px;
}
.stylist .slide .desc .transp img {
	margin-left: 20px;
}
.stylist .slide .desc p {
	font-size: 13px;
	font-family: "PTDinTextCondProRegular";
	color: rgb(77, 77, 77);
	width: 225px;
	margin-bottom: 15px;
	
}
.stylist .slide .desc a{
	font-size: 12px;
	font-family: "PTSerifRegular";
	color: rgb(77, 77, 77);
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;	  
}
.stylist .slide .desc .text{
	margin-left: 50px;
}
/* ----------------Player settings----------------- */
.player {
	background-color: #000;
	height: 475px;
	max-width: 850px;
	width: 66.6667%;
	position: relative;
}

.vjs_video_3-dimensions {
	max-width: 850px;
	width: 100%;
	
	height:475px;
}
.video-js .vjs-big-play-button {
	top: 57.7%;
    left: 50%;
    border-radius: 0;
    transform: translate(-54%, -50%) rotate(45deg);
    width: 190px;
	height: 190px;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {  
    content: "";
    background: url(../img/play_but.png) no-repeat;
    transform: rotate(-45deg);
    background-position-y: 59px;
    background-position-x: 75px;
}
.video-js .vjs-big-play-button {
	background: url(../img/play_back.jpg);
	background-position: 51% 53%;
}
.vjs-poster {
	background-size: cover;
}
.vjs-control-bar {
	background-color: rgba(0, 0, 0, .1);
}
/*----------- refund calculator--------------- */
.calculator {
	background-color: #d1d0d1;
	max-width: 425px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	height: 475px;
	width: 33.3334%;
}
.calculator h4 {
	font-size: 14px;
	font-family: "PTSerifRegular";
	color: rgb(40, 40, 40);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.358;
	text-align: center;
	-moz-transform: scale(1, 1.1);
	-webkit-transform: scale(1, 1.1);
	-ms-transform: scale(1, 1.1);  
}
.form_head {
	padding-top: 20px;
	text-align: center;
	margin-bottom: 7px;	
}
.calculator form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
	background: url(../img/calculator_bg.jpg);
}
.calculator form .form_head {
	padding-top: 28px;
}
 form select,
 form input,
 form button {
	text-indent: 5px;
	max-width: 180px;
	width: 50%;
	height: 30px;
	font-size: 14px;
	margin-bottom: 8px;
	font-family: "PTDinTextCondProRegular";
	color: rgb(71, 70, 70);
	line-height: 1.286;
	-moz-transform: scale(1, 1.1);
	-webkit-transform: scale(1, 1.1);
	-ms-transform: scale(1, 1.1);
	border: 1px solid #8a8a8a;
	background-color: transparent;
}
.calculator form button{
	margin-top: 8px;
	font-size: 14px;
	font-family: "PTSerif";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.571;
	text-align: center;
	background-color: #a7b3b3;
	border: 0;  
}
.calculator .best,
.calculator .latest {
	width: 50%;
}
.hover_area {
	position: absolute;
	bottom: -46px;
	height: 240px;
	width: 100%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.hover_area .cont {
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
	max-height: 47px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.hover_area .cont p{
	font-size: 14px;
	font-family: "PTDinTextCondProRegular";
	color: rgb(40, 40, 40);
	line-height: 1.571;
	text-align: center;
}
.hover_area .cont:nth-child(1) {
	padding: 5px 0;
}
.hover_area:hover {
	max-height: 195px;
	margin: 0;
	bottom: 0px;

}
.calculator .latest .slide img,
.calculator .best .slide img {
	position: relative;
	z-index: 0;
}
.calculator .latest {
	background: #e6e2e1;
}
.calculator .best {
	background: #d6d4d5;
}
.calculator .slide {
	min-height: 197px;
}
/* -----------Aside------------ */
aside {
	padding: 0 42px 0 43px;
	max-width: 1360px;
}
.main_sec .wrap {
	margin: 0;
	justify-content: space-around;
	justify-content: space-evenly;
	display: flex;
	flex-wrap: wrap;
	background: #e7ecf0;
	min-height: 400px;
	width: 100%;
}
/* ----------partners---------- */
.main_sec .partners {
	padding-top: 40px;
	text-align: center;
	max-width: 285px;
	width: 100%;
	height: 360px;
	position: relative;
	letter-spacing: .4px;
}
.main_sec .partners h4{
	font-size: 14px;
	font-family: "PTSerifRegular";
	color: rgb(40, 40, 40);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.286;	
	padding-top: 10px;  
}
.main_sec .partners .descr{
	font-size: 14px;
	font-family: "PTDinTextCondProRegular";
	color: rgb(40, 40, 40);
	line-height: 1.286; 
	padding-top: 8px;
	padding-bottom: 40px;
}
.main_sec .partners form {
	background: transparent;
}
.main_sec .partners form select,
.main_sec .partners form input,
.main_sec .partners form button {
	max-width: 180px;
	width: 100%;
}
.main_sec .partners form button {
	margin-bottom: 15px;
	background: #a7b3b3;
	border: 0;
	color: #fff;
}
.main_sec .partners .chosing {
	position: relative;
	bottom: -50px;
	height: 20px;
}
.main_sec .partners .chosing::before {
	content: "";
	width: 20px;
	height: 20px;
	background: url(../img/choise_white.png);
	position: absolute;
	left: 45px;
	bottom: 0;
	cursor: pointer;
}
.main_sec .partners .chosing::after {
	content: "";
	width: 20px;
	height: 20px;
	background: url(../img/choise_black.png);
	position: absolute;
	right: 45px;
	bottom: 0;
	cursor: pointer;
}
/* ----------shop-------------- */
.main_sec .shop {
	margin-top: 40px;
	background: #fff;
	height: 320px;
	max-width: 280px;
	min-width: 250px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	overflow: hidden;
}
.main_sec .shop .brown,
.main_sec .shop .blue,
.main_sec .shop .grey {
	position: absolute;
	left: 10px;
	bottom: 12px;
	cursor: pointer;
}
.main_sec .shop .brown {
	bottom: 42px;
}
.main_sec .shop .grey {
	bottom: 72px;
}

.main_sec .shop .price,
.main_sec .shop .name,
.main_sec .shop .action {
	max-width: 19.64%;
	width: 100%;
	height: 55px;
	line-height: 55px;
	text-align: center;
	border: .5px solid #f3f3f3;
	margin-bottom: 1%;
	font-size: 14px;
	font-family: "PTDinTextCondProRegular";
	color: rgb(84, 84, 84);
}
.main_sec .shop .item {
	margin-top: 1%;
	width: 96.5%;
	height: 250px;	
	border: .5px solid #f3f3f3;
	text-align: center;
	line-height: 28;
	position: relative;
}
.main_sec .shop .item .new {
	position: absolute;
	top: 5px;
	left: 5px;
}
.main_sec .shop .name {
	max-width: 75%;
	display: none;
}
.main_sec .shop .action {
	max-width: 75%;
	display: none;
}
.main_sec .shop .action a{
	text-decoration: none;
	cursor: pointer;
	height: 31px;
}
.main_sec .shop .action a:first-child {
	margin-left: 15px;
}
.main_sec .shop .action a:last-child {
	margin-right: 15px;
}
.main_sec .shop .visible {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/* ---------footer-------- */
footer {
	padding: 0 42px 0 43px;
	width: 100%;
	max-width: 1360px;

}
footer .wrap {
	background: #d4dde4;
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .itunes {
	max-width: 320px;
	min-height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	letter-spacing: 1.2px;

}
footer .itunes img {
	margin-bottom: 35px;
}
footer .itunes h5 a{
	font-size: 14px;
	font-family: "PTDinTextCondProRegular";
	color: rgb(71, 71, 71);
}
footer .itunes h5 span {
	text-transform: uppercase; 
}
footer .follow {
	max-width: 320px;
	min-height: 200px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
footer .follow h4 {
	font-size: 14px;
	font-family: "PTSerifRegular";
	color: rgb(71, 71, 71);
	font-weight: bold;
	text-transform: uppercase;
	padding-bottom: 30px;
}
footer .follow form {
	background: transparent;
	max-height: 30px;
	max-width: 210px;
	display: flex;
	flex-direction: row;
}
footer .follow form input {
	height: 30.5px;
	width: 129px;
	border: 0;
	background: #fff;
}
footer .follow form button {
	height: 29.5px;
	width: 80px;
	border: 0;
	color: #cecece;
	background: #474747;
}
footer .follow .contacts {
	margin-top: 20px;
}
footer .navigate {
	letter-spacing: 1.2px;
	width: 100%;
	height: 120px;
	max-width: 510px;
	padding-left: 27px;
}
footer .navigate ul{
	max-height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
footer .navigate ul li{
	padding: 5px 0 5px 0;
}
footer .navigate ul li a{
	text-decoration: none;
	font-size: 14px;
	font-family: "PTDinTextCondProRegular";
	color: rgba(71, 71, 71, 0.6);
	text-transform: uppercase; 
}

/* ---------label--------- */
footer .label {
	width: 100%;
	text-align: center;
	background: #d4dde4;
	max-height: 140px;
	line-height: 140px;
	background-color: br
}
/* search hightlights */







