@import url("fonts.css");
.outside, .inside, .contain {
	border: 1px solid #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.outside {
	transform: rotate(45deg);
	width: 100%;
	height: 100%;
}
.inside {
	align-self: center;
	width: 95%;
	height: 95%;
}
.contain {
	width: 100%;
	height: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	color: #FFF;
	transform: rotate(675deg);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: 1.2px;
}
body {
	min-width: 320px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.clearfix:after {
  position: relative;
  display: block;
  content: "";
  clear: both; 
}
/*------------------header-----------------*/
header {
	width: 100%;
	max-width: 1360px;
	background: #FFF;
	position: relative;
}
header .top_line {
	position: absolute;
	top: 0;
	z-index: 1;
	width: 100%;
}
header .wrap {
	max-width: 1275px;

	margin-left: 43px;
	margin-right: 42px;
}
header .fiction {
	min-height: 42px;
}
.logo {
	content: "";
	min-height: 90px;
	min-width: 255px;
	background: url(../img/logo.jpg);
	position: absolute;
	z-index: 1;
}
.menu {
	margin-left: 255px;
	display: flex;
	justify-content: center;
	max-height: 62px;
}
.nav {
	max-width: 635px;
	width: 100%;
}
.menu ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding: 22px 0;
}
.menu ul li a {
  font-size: 11px;
  font-family: "PTDinTextCondProRegular";
  color: rgb(7, 7, 7);
  text-transform: uppercase;
  line-height: 0.273;
  text-align: center;
  text-decoration: none;
}
.search, .hiden_menu, .chat {
	content: "";
	height: 62px;
	width: 42px;
	border: 1px solid #c6c6c6;
}
.hiden_menu {
	background: url(../img/menu.png);
	background-repeat: no-repeat;
	background-position: center;
	float: right;

}
.search {
	background: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	position: relative;
	z-index: 1;
}
.chat {
	background: url(../img/chat.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 0;
	top: 62px;
}
.slider {
	min-width: 100%;
	
	min-height: 460px;
	position: relative;
	z-index: 0;
}

.slider .slider_text h1 {
  font-size: 14px;
  font-family: "PTSerifRegular";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.slider .slider_text p {
  font-size: 14px;
  font-family: "PTDinTextCondProRegular";
  color: rgb(255, 255, 255);
  letter-spacing: 0.8px;
}

.slider .slider_text img {
	max-width: 100px;
}
.slider .slider_text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	padding-top: 67px;
	max-width: 430px;
	position: relative;
	left: 18.85%;
	line-height: 2.7;
}
.slider .slider_text a {
  font-size: 12px;
  font-family: "PTSerifBold";
  color: rgb(55, 61, 61);
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.3;
}
.slide {
	position: relative;
}
.slide .model {
	position: absolute;
	right: 8%;
	bottom: -65px;
	
}
*:active{
	outline: none;
}
.slider .arrow_right, .slider .arrow_left {
	content: "";
	position: absolute;
	top: 50%;
	z-index: 50;
	width: 10px;
	height: 7px;
}
.slider .arrow_left {
	background: url(../img/arrow_l.png);
	left:  1%;
}
.slider .arrow_right {
	background: url(../img/arrow_r.png);
	right: 1%;
}
.designer .inside {
	position: relative;
}
.designer .contain {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 80%;
	position: relative;
	bottom: 5.5px;
	right: 4.5px;
}
.look {
	padding-top: 31.5px;
	max-width: 640px;
	width: 46.54%;
	margin-left: 70px;
	display: flex;
	flex-direction: row;
}
.designer .size {
	width: 162.17px;
	height: 162.17px;
	background: transparent;
	position: relative;
	left : 5.88%;
}
.item1 .size,
.item2 .size,
.item3 .size,
.item4 .size {
	width: 70px;
	height: 70px;
}
.items {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.items .outside {
	border-color: #FFF;
	background-color: #FFF;
}
.items .inside {
	border-color: #a7b3b3;
	background-color: #FFF;
}
.items .contain {
  color: #a7b3b3;
  font-size: 14px;
  font-family: "PTDinTextCondProRegular";
  color: rgb(167, 179, 179);
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}
.items .contain .up {
	width: 100%;
	border-bottom: 1px solid #a7b3b3;
}
/* Slick slider */
.slider .slide {
	min-height: 460px;
	z-index: 1001;
}

.slider .slick-prev::before, .slider .slick-next::before{
	font-family:"Arial";
}
.slider .slick-prev, .slider .slick-next {
	position: absolute;
	content: "";
	width: 10px;
	height: 10px;
	z-index: 100001;
}
.slider .slick-prev{
	left: 14px;	
}
.slider .slick-next{
	right: 25px;
}
.slider .slick-dots {
	bottom: 12px;
}
.slider .slick-dots li{
	width: 10px;
	height: 10px;
	margin: 0 2px;
	padding: 0;
	transform: rotate(45deg);
}
.slider .slick-dots li button {
	padding: 0;
	width: 100%;
	height: 100%;
}
.slider .slick-dots li button:before {
	content: "";
	background-color: #000;
	width: 6px;
	height: 6px;
	top: 2px;
	left: 2px;
}
.slider .slick-dots li.slick-active button{
	opacity: 10;
	border: 1px solid black;
	background-color: transparent;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{
	opacity: .75;
}


.slick-dotted.slick-slider {
   margin: 0%;
}
.slider .slick-list{
	padding-top: 20px;
	
	
}
.slider .slick-track {
	background: #a7b3b3;
}
/* ::after {
	content: "";
	height: 1000px;
	background: url(../img/guy.png);
	position: absolute;
	z-index: 10001;
	width: 1000px;
} */

/*-------section------------*/
section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.new_trip {
	background-color: #bababa;
	max-width: 425px;
	max-height: 425px;
	
}
.new_trip .size {
	padding: 81.19px;
	width: 425px;
	height: 425px;
}
.stylist {
	background-color: #f6f3ec;
	max-width: 850px;
}
.player {

}
.calculator {
	background-color: #d1d0d1;
	max-width: 425px;
}













/*.outside, .inside, .contain {
	border: 1px solid #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.outside {
	transform: rotate(45deg);
	width: 100%;
	height: 100%;
}
.inside {
	align-self: center;
	width: 95%;
	height: 95%;
}
.contain {
	width: 100%;
	height: 100%;
	background: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	color: #FFF;
	transform: rotate(675deg);
}*/
@media only screen and (max-width:1060px) {
	.slide .model img {
		height: 350px;
		margin: 0 auto;
	}
	.slide .model{
		position: relative;
		max-width: 380px;
		right: 0;
		margin: 0;
		left: 50%;
		transform: translate(-50%, 0%);
		top: -14px;
	}
	.slide .slider_text {
		left: 50%;
		top: -150px;
		transform: translate(-50%, 0);
		margin-bottom: 50px;
		z-index: 2;
	}
	.slide .look {
		margin: 0;
		width: 80%;
		position: absolute;
		bottom: 50px;
		left: 50%;
		transform: translate(-50%, 0);
	}

  }
  @media only screen and (max-width:800px) and (min-width:320px){
	header .logo {
		left: 50%;
		transform: translate(-50%, 0);
	}
	.slider .model{
		padding: 82px 0 0 0;
	}
	header .wrap {
		background: #a7b3b3;
	}  
	header .fiction{
		  display: none;
	  }
	  .top_line .search {
		  position: absolute;
		  right: 0;
		  top: 124px;
	  }
	  .top_line .menu {
		  display: none;
		  max-height: 500px;
	  }
	  .top_line .active {
		  display: inline;
	  }
	  .top_line .active ul {
		  display: inline;
		  position: absolute;
		  right: 42px;
		  top: 0px;
		  padding: 0;
	  }
	  .top_line .active ul li{
		  height: 45px;
	  }
	  .top_line .active ul li a{
		  display: inline-block;
		  padding: 20px ;
		  width: 200px;
		  background-color: rgba(255, 255, 255, .5);
		  border: 1px solid grey;
	  }
	  .top_line .active ul li a:hover {
		background-color: rgba(19, 16, 16, 0.5);
		
	  }

  }